@model AT.MVC.Models.Books.UpdateBookViewModel

@{
    ViewData["Title"] = "EditView";
}

<h1>EditView</h1>

<h4>UpdateBookViewModel</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            @Html.HiddenFor(m => m.Id)
            <div class="form-group">
                <label asp-for="Title" class="control-label"></label>
                <input asp-for="Title" class="form-control" />
                <span asp-validation-for="Title" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ISBN" class="control-label"></label>
                <input asp-for="ISBN" class="form-control" />
                <span asp-validation-for="ISBN" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Year" class="control-label"></label>
                <input asp-for="Year" class="form-control" />
                <span asp-validation-for="Year" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
        
        <table class="table">
            <thead>
            <tr>
                <th>
                    First Name
                </th>
                <th>
                    Last Name
                </th>
                <th></th>
            </tr>
            </thead>
            <tbody>
            @foreach (var item in ViewBag.Authors) {
                <tr>
                    <td>
                        @item.FirstName
                    </td>
                    <td>
                        @item.LastName
                    </td>
                    <td>
                        <form asp-action="RemoveAuthor">
                            @Html.ActionLink("Remove Author", "RemoveAuthor", new { bookId = Model.Id, authorId = item.Id })
                        </form>
                    </td>
                </tr>
            }
                @foreach (var item in ViewBag.OtherAuthors)
                {
                    <tr>
                        <td>
                            @item.FirstName
                        </td>
                        <td>
                            @item.LastName
                        </td>
                        <td>
                            <form asp-action="AddAuthor">
                                @Html.ActionLink("Add Author", "AddAuthor", new { bookId = Model.Id, authorId = item.Id })
                            </form>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
