@model TP1.MVC.Models.SelectedFriendsViewModel

@{
    ViewData["Title"] = "Friends";
}

<p>
    <a asp-action="Add">Add Friend</a>
</p>

<h2 class="mt-5">My Friends</h2>

<table class="table">
    <thead>
    <tr>
        <th></th>
        <th>
            Name
        </th>
        <th>
            Last Name
        </th>
        <th>
            Email
        </th>
        <th></th>
    </tr>
    </thead>
    <tbody>
        @foreach (var friend in SelectedFriendsViewModel.Friends)
    {
        <tr>
            <td style="text-align:center">
                @Html.CheckBoxFor(modelItem => friend.Selected)
            </td>
            <td>
                @Html.DisplayFor(modelItem => friend.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => friend.LastName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => friend.Email)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@friend.Id">Edit</a> |
                <a asp-action="Delete" asp-route-id="@friend.Id">Delete</a>
            </td>
        </tr>
    }
    </tbody>
</table>